<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin_Header</title>
    <link rel="stylesheet" href="/css/user.css">
    <link rel="stylesheet" href="/css/all.min.css">
</head>

<body>
    <!-- haeder -->
    <header>
        <div class="container">
            <div class="row align-items justify-between">
                <div class="logo">
                    <div class="row  align-items">
                        <div class="con">
                            <i class="fa-solid fa-list-ul"></i>
                            <ul class="submenu">
                                <li><a href="/Admin/Home">HOME</a></li>
                                <li><a href="/Admin/Post">Product List</a></li>
                                <li><a href="/Admin/Profile">PROFILE</a></li>
                            </ul>
                        </div>
                        <a href="/User/Home"><img src="/images/logo.png" alt="cookieman logo"></a>
                    </div>
                </div>
                <div class="icons row">
                    <a href="/Admin/Login" id="accounts"><i class="fa-regular fa-user" ></i>ACCOUNT</a>
                    <!-- <a href="" id="Outs"><i class="fa-solid fa-arrow-right-from-bracket"></i>Logout</a> -->
                    <a href="/Admin/Data"><i class="fa-solid fa-database"></i>DATA</a>
                    <a href="/Admin/Home"><i class="fa-solid fa-ellipsis-vertical"></i></a>
                </div>
            </div>
        </div>
    </header>
</body>

</html>