<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Footer</title>
</head>
<body>
    <!-- footer -->
    <footer class="footers">
        <div class="container">
            <div class="row">
                <div class="w-25">
                    <ul>
                        <li>Chocolate Gifts Boxes</li>
                        <li>Christmas Chocolate Hampers</li>
                        <li>Raksha Bandhan Chocolate Box</li>
                        <li>Chocolate Gift Baskets</li>
                        <li>Customized Chocolate Box</li>
                        <li>Valentine Chocolate Gift Box</li>
                        <li>Birthday Chocolate Gifts</li>
                    </ul>
                </div>
                <div class="w-25">
                    <ul>
                        <li>Corporate Gifting</li>
                        <li>Corporate Gift Boxes</li>
                        <li>Christmas Corporate Gifts</li>
                        <li>Corporate Chocolate Gifts</li>
                        <li>Corporate Gifts for Clients</li>
                        <li>Corporate Gifts for Employees</li>
                        <li>New Year Corporate gifts</li>
                    </ul>
                </div>
                <div class="w-25">
                    <ul>
                        <li>Bestseller</li>
                        <li>Almond Fingers </li>
                        <li>Chocolate Gift Box</li>
                        <li>Premium Chocolates </li>
                        <li>Almond Biscotti</li>
                        <li>Heart Shaped Chocolates</li>
                        <li>Black Currant Cookies</li>
                    </ul>
                </div>
                <div class="w-25">
                    <ul>
                        <li>Get in touch</li>
                        <li>+91 99529 72111</li>
                        <li>Email us</li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
    <div class="right , footers">
        <div class="container">
            <pre>Search   Terms  Privacy Policy  Refund Policy  Track Your Order  Annual Returns - 2020-21   Annual Returns - 2021-22  Powered by Shopify</pre>
        </div>
    </div>
</body>
</html>