<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User_Home</title>
</head>
<body>
    <%- include("user_header") %>

    <!-- banner section -->
    
    <section>
        <div class="container">
            <div class="banner_img"></div>
        </div>
    </section>

    <!-- 1kg Cookie Tubs section -->

    <section>
        <div class="cookie">
           <div class="container">
            <h2>✨ 1kg Cookie Tubs</h2>
            <div class="row">
                <div class="w-30">
                    <div class="cookie_box">
                        <img src="../images/1.jpg" alt="">
                    </div>
                </div>
                <div class="w-30">
                    <div class="cookie_box">
                        <img src="../images/2.jpg" alt="">
                    </div>
                </div>
                <div class="w-30">
                    <div class="cookie_box">
                        <img src="../images/3.jpg" alt="">
                    </div>
                </div>
            </div>
           </div>
        </div>
    </section>

    <!-- Deal -->

    <section>
        <div class="deal">
            <div class="container">
                <h2>🍪 Deal of the Week</h2>
                <div class="row">
                    <div class="w-30">
                        <div class="cookie_box">
                            <img src="../images/bany-1.jpg" alt="">
                            <h1>15% OFF ON ALL ORDRES!!</h1>
                        </div>
                    </div>
                    <div class="w-30">
                        <div class="cookie_box">
                            <img src="../images/bany-2.jpg" alt="">
                            <h1>Make Your Own Cookie Tub - Buy 1 KG GET 200g Free!!</h1>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>

    <!-- india -->
    <section class="india paddings">
        <div class="container">
            <h2>COOKIE MAN INDIA</h2>
            <p>Australian Foods (I) Pvt. Ltd., the makers of Cookie Man cookies commenced its business operations in India in January 2000. The lack of recognized cookie players in India motivated Australian Foods to enter the market and open its first store in Chennai in January 2000. Cookie Man cookies have rapidly grown to become synonymous with international quality and are today the #1 brand of fresh baked cookies in the country.Currently, Cookie Man operates 50 outlets in 17 cities in NCR, Gurgaon, Jaipur, Bhopal, Ahmedabad, Baroda, Surat, Mumbai, Pune, Chennai, Bangalore, Coimbatore, Hyderabad, Kolkata, Mangalore, Bhubaneshwar, Udaipur and Port Blair.</p>
                <p>The Cookie Man product line is unique, of high quality and good value for money. In India too, the cookies are made from the finest ingredients available, ensuring that the products meet stringent global quality and consistency guidelines. All cookie dough, toppings and related materials are produced in the Cookie Man Commissary in Chennai.</p>
                <p>Cookie Man markets a diverse line of fresh baked Australian cookies in India. There are more than fifty varieties of cookies available. The flavours include Choc Chip, Coffee Walnut, Brandy Snap, Honey and Oats, Coconut Macaroon, Shortbread, Peanut, Ginger and many, many more. Even the famous Australian “Anzac” cookie is available right here in India.</p>
                <p>Australian Foods has developed an efficient and successful franchising model that has been leveraged to increase operations in India at a rapid pace. Based on a shared passion for food retail, effective communication, we have forged successful partnerships with our franchisees across India.</p>
        </div>
    </section>
    <!-- online -->
    <section class="online paddings">
        <div class="container">
            <h2>Buy Cookies Online from the Best 🍪</h2>
            <div class="row">
                <div class="w-10">
                    <div class="online_box">
                        <img src="../images/a.jpg" alt="">
                    </div>
                </div>
                <div class="w-10">
                    <div class="online_box">
                        <img src="../images/b.jpg" alt="">
                    </div>
                </div>
                <div class="w-10">
                    <div class="online_box">
                        <img src="../images/c.jpg" alt="">
                    </div>
                </div>
                <div class="w-10">
                    <div class="online_box">
                        <img src="../images/d.jpg" alt="">
                    </div>
                </div>
                <div class="w-10">
                    <div class="online_box">
                        <img src="../images/e.jpg" alt="">
                    </div>
                </div>
                <div class="w-10">
                    <div class="online_box">
                        <img src="../images/f.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- signup -->
    <section class="signups">
        <div class="container">
            <h2>Sign Up & Save on your Cookie <br/> Boxes</h2>
            <p>Subscribe Today and Get an Interesting Updates</p>
            <input type="text" placeholder="Enter your email"><button>Subscribe</button>
        </div>
    </section>
    <!-- footer -->
    <%- include("footer") %>
</body>
</html>