<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User_Signup</title>
</head>
<body>
    <!-- header -->
    <%- include("user_header") %>
    <!-- form -->
    <form action="/User/Signup" method="post">
        <h2>Create Account</h2>
        <label for="">First Name</label>
        <input type="text" name="firstname" required>

        <label for="">Last Name</label>
        <input type="text" name="lastname" required>

        <label for="">Images</label>
        <input type="url" name="image" required>

        <label for="">Number</label>
        <input type="Number" name="number"  placeholder="+91 ">

        <label for="">Email</label>
        <input type="email" name="email" required>

        <label for="">Password</label>
        <input type="password" name="password" required>

        <button type="submit">Create</button>
    </form>
    <!-- footer -->
    <%- include("footer") %>
</body>
</html>