*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   font-family: sans-serif;
}
/* basic properties */
.container{
    max-width: 1140px;
    margin: auto;
}
.row{
    display: flex;
    flex-wrap: nowrap;
}
.justify-center{
    justify-content: center;
}
.justify-between{
    justify-content: space-between;
}
.align-items{
    align-items: center;
}
a{
    text-decoration: none;
}
ul , ol{
    list-style: none;
}
.w-30{
    width: 50%;
    padding: 15px;
}
.paddings{
    padding: 60px 0px;
}

/* header */
header{
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
    padding: 10px 0px;
}
header .logo img{
    width: 180px;
    margin: 0px 20px;
}
header .logo .fa-list-ul{
    font-size: 20px;
    padding-top: 10px;
    color: black;
}
header .search input{
    width: 400px;
    padding: 10px 10px;
    border: none;
    outline: none;
    background-color: #f7f7f7;
}
header .search input::placeholder{
    color: black;
    font-size: 18px;
    font-weight:600;
}
header .search button{
    padding: 6px 10px;
    font-size: 20px;
    border: none;
    outline: none;
    background-color: #f7f7f7;
}
header .icons i{
    font-size: 20px;
    margin: 0px 15px;
    color: black;
}
header .icons a{
    font-size:15px;
    color: black;
    font-weight: 600;
    letter-spacing: 2px;
}
/* submenu */
header .con .submenu{
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.606);
    width: 130px;
    position: absolute;
    visibility: hidden;
    opacity: 0; 
    transition: all 0.5s;
    height:20px;
    top:85px;
    padding:15px 0px;
    background-color: white;
  
}
header .icons .submenu{
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.606);
    width: 130px;
    position: absolute;
    visibility: hidden;
    opacity: 0; 
    transition: all 0.5s;
    height:20px;
    top:85px;
    padding:15px 0px;
    background-color: white;
}
header .icons:hover .submenu{
    visibility: visible;
    opacity: 1;
    height: 48px;
}
header .submenu li a{
    border-bottom: 1px solid gray;
    color: black;
}
header .con:hover .submenu{
    visibility: visible;
    opacity: 1;
    height: 140px;
}
header .submenu li a{
    display: block;
    padding: 8px 25px;
    position: relative;
}

/* homepages */

.banner_img{
    background-image: url(../images/banner.png);
    padding: 250px 0px;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top:30px ;
}

/* 1kg Cookie Tubs section */
.cookie_box img{
    width: 100%;
}
.cookie{
    margin: 40px 0px;
}
.cookie h2{
    font-size: 35px;
    padding: 15px 0px;
}
/* deal */
.cookie_box h1{
    font-size: 29px;
    padding: 20px 0px;
}
.deal h2{
    font-size: 35px;
    padding: 15px 0px;
}
/* india */
.india{
    background-color: #FFEAEA;
    text-align: center;
    padding: 30px;
    color: #29166f;
}
.india h2{
    font-size: 35px;
    padding: 15px 0px;
}
.india p{
    padding: 20px 0px;
    line-height: 25px;
    font-size: 18px;
    font-weight: 600;
}
/* online */
.w-10{
    width: 30%;
    padding: 15px;
}
.online_box img{
    width: 100%;
}
.online h2{
    font-size: 35px;
    padding: 15px 0px;
}
.signups{
    background-color: #56654e;
    padding: 50px 0px;
    text-align: center;
    color:#FFF6DF;
}
.signups h2{
    font-size: 35px;
}
.signups p{
    font-size: 21px;
    font-weight: 600;
    padding: 30px 0px;
}
.signups input{
    padding: 15px 20px;
    color: black;
    font-size: 18px;
    outline: none;
    border: none;
}
.signups input::placeholder{
    color: black;
    font-size: 18px;
}
.signups button{
    padding: 15px 30px;
    color: #56654e;
    font-size: 18px;
    font-weight: 600;
    outline: none;
    border: none;
    border-radius: 0px 50px 50px 0px;
    background-color: #FFF6DF;
}
/* footer */
.footers{
    background-color: #242430;
    padding: 40px 0px;
    border-top:1px solid white;
    border-bottom: 1px solid white;
}
.w-25{
    width: 25%;
    padding: 15px;
}
.footers ul li{
    color: white;
    line-height: 40px;
}
.footers pre{
    text-align: center;
    color: white;
    text-decoration: underline;
}
/* signup form */
form{
    width: 350px;
    margin: auto;
    padding: 50px 0px;
}
form input{
    display: block;
}
form h2{
    font-size: 42px;
    padding: 40px 0px;
}
form input{
    margin: 10px 0px;
    margin-bottom: 30px;
    padding:10px 8px;
   width: 100%;
   border:1px solid rgba(128, 128, 128, 0.243);
}
form label{
    font-size: 18px;
    color:black;
    font-weight: 500;
}
form button{
    width: 100%;
    padding: 15px 0px;
    border-radius: 50px;
    background-color: #29166f;
    color: white;
    font-size: 18px;
    font-weight: 600;
    border: none;
    outline: none;
    margin-bottom: 20px;
}
.create a{
    font-size: 18px;
    color: black;
    font-weight: 600;
}
form label a{
    color: black;
}

/* user product pages */

#box {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 30px;
    gap:15px
   
}
#box div{
    background-color: rgba(128, 128, 128, 0.075);
    padding-bottom: 20px;
}
.name h1{
    font-size: 40px;
    padding-top: 30px;
    color: black;
}
#box div img{
    width: 100%;
}
#box div p {
    font-size: 18px;
    text-transform: capitalize;
    padding: 5px 20px;
    font-weight: 600;
} 
#box button{
    margin: 15px 0px;
    width: 100%;
    padding: 15px  0px;
    border-radius: 50px;
    border: 2px solid black;
    color: black;
    font-weight: 600;
    font-size: 18px;
}
/* single pages */
.w-5{
    width: 12%;
    padding: 15px;
}
.w-20{
    width: 60%;
    padding: 15px;
}
.w-0{
    width: 40%;
    padding: 15px;
}
.images-box img{
    width: 100%;
    margin: 28px 0px;
}
.imagesbox img{
    width: 100%;
    margin: 15px 0px;
}
.images-content{
    padding: 20px;
    margin: 15px 0px;
}
.images-content .price{
    font-weight: 600;
    font-size: 20px;
}
.images-content h2{
    text-transform: capitalize;
    font-size: 35px;
    padding: 20px 0px;
}

.images-content h4{
    padding: 20px 0px;
}
.images-content .offer{
    margin: 20px 0px;
}
.images-content button{
    margin: 25px 0px;
    width: 100%;
    padding: 15px  0px;
    border-radius: 50px;
    border: 2px solid black;
    color: black;
    font-weight: 600;
    font-size: 18px;
}

.images-content p{
    padding: 8px 0px;
}
.images-content pre{
    padding: 15px 0px;
}
.offer img{
    width: 100%;
}
/* admin home */
.home h1{
    font-size: 37px;
    text-align: center;
    padding: 50px 0px;
    text-decoration:wavy;
}
/* cart */
#cart {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 30px;
    gap:15px
   
}
#cart div{
    background-color: rgba(128, 128, 128, 0.075);
    padding-bottom: 20px;
}
#cart h1{
    font-size: 20px;
    padding-top: 30px;
    color: black;
}
#cart div img{
    width: 100%;
}
#cart div p {
    font-size: 16px;
    text-transform: capitalize;
    padding: 5px 20px;
    font-weight: 600;
} 
#cart button{
    margin: 15px 0px;
    width: 100%;
    padding: 15px  0px;
    border-radius: 50px;
    border: 2px solid black;
    color: black;
    font-weight: 600;
    font-size: 18px;
}

